name: Build

on:
  workflow_dispatch:
  push:
    tags: ['*']
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        build_type: [Release]

    steps:
      - uses: actions/checkout@v4

      - name: Install Windows Dependencies
        if: matrix.os == 'windows-latest'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ucrt64
          update: true
          install: >-
            base-devel
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-ninja
            mingw-w64-ucrt-x86_64-ruby
            mingw-w64-ucrt-x86_64-raylib
            mingw-w64-ucrt-x86_64-sccache
            mingw-w64-ucrt-x86_64-mold
            mingw-w64-ucrt-x86_64-clang
            mingw-w64-ucrt-x86_64-clang-tools-extra
            mingw-w64-ucrt-x86_64-cppcheck
            git

      - name: Install Linux Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential cmake sccache mold cppcheck clang-tidy-15 ninja-build gcc g++ git ruby-full \
            libasound2-dev libx11-dev libxrandr-dev libxi-dev libgl1-mesa-dev \
            libglu1-mesa-dev libxcursor-dev libxinerama-dev libwayland-dev libxkbcommon-dev

      - name: Install MacOS Dependencies
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install cmake ninja ruby raylib sccache mold cppcheck llvm clang-format

      - name: Build Project (Windows)
        if: matrix.os == 'windows-latest'
        shell: msys2 {0}
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          cmake --build build -j$(nproc) --config ${{ matrix.build_type }}

      - name: Build Project (Linux)
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          cmake --build build -j$(nproc) --config ${{ matrix.build_type }}

      - name: Build Project (macOS)
        if: matrix.os == 'macos-latest'
        shell: bash
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          cmake --build build -j$(nproc) --config ${{ matrix.build_type }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "rgray-${{ matrix.os }}-artifact-${{ matrix.build_type }}"
          path: ${{ github.workspace }}/build/out