name: Build

on:
  workflow_dispatch:
  push:
    tags: ['*']
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        preset: [Release]
        include:
          - os: windows-latest
            configure_preset: windows-release
            build_preset: windows-release

          - os: ubuntu-latest
            configure_preset: linux-release
            build_preset: linux-release

          - os: macos-latest
            configure_preset: macos-release
            build_preset: macos-release

    steps:
      - uses: actions/checkout@v4

      # --------------------------------------------------
      # Windows
      # --------------------------------------------------
      - name: Install Windows Dependencies
        if: matrix.os == 'windows-latest'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ucrt64
          update: true
          install: >-
            base-devel
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-ninja
            mingw-w64-ucrt-x86_64-ruby
            mingw-w64-ucrt-x86_64-raylib
            mingw-w64-ucrt-x86_64-sccache
            mingw-w64-ucrt-x86_64-mold
            mingw-w64-ucrt-x86_64-clang
            mingw-w64-ucrt-x86_64-clang-tools-extra
            mingw-w64-ucrt-x86_64-cppcheck
            git

      # --------------------------------------------------
      # Linux
      # --------------------------------------------------
      - name: Install Linux Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential cmake sccache mold cppcheck clang-tidy-15 ninja-build gcc g++ git ruby-full \
            libasound2-dev libx11-dev libxrandr-dev libxi-dev libgl1-mesa-dev \
            libglu1-mesa-dev libxcursor-dev libxinerama-dev libwayland-dev libxkbcommon-dev

      # --------------------------------------------------
      # macOS
      # --------------------------------------------------
      - name: Install MacOS Dependencies
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install cmake ninja ruby raylib sccache mold cppcheck llvm clang-format

      # --------------------------------------------------
      # Configure with Presets (Windows)
      # --------------------------------------------------
      - name: CMake Configure (Preset) [Windows]
        if: matrix.os == 'windows-latest'
        shell: msys2 {0}
        run: cmake --preset ${{ matrix.configure_preset }}

      # --------------------------------------------------
      # Configure with Presets (Linux/macOS)
      # --------------------------------------------------
      - name: CMake Configure (Preset) [Unix]
        if: matrix.os != 'windows-latest'
        shell: bash
        run: cmake --preset ${{ matrix.configure_preset }}

      # --------------------------------------------------
      # Build with Presets (Windows)
      # --------------------------------------------------
      - name: CMake Build (Preset) [Windows]
        if: matrix.os == 'windows-latest'
        shell: msys2 {0}
        run: cmake --build --preset ${{ matrix.build_preset }}

      # --------------------------------------------------
      # Build with Presets (Linux/macOS)
      # --------------------------------------------------
      - name: CMake Build (Preset) [Unix]
        if: matrix.os != 'windows-latest'
        shell: bash
        run: cmake --build --preset ${{ matrix.build_preset }}

      # --------------------------------------------------
      # Artifact
      # --------------------------------------------------
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "rgray-${{ matrix.preset }}-artifact"
          path: ${{ github.workspace }}/build/out
